<%- contentFor('body') %>
<head>
  <title>Lista de Clientes</title>
  <%- include('../views/parciais/head'); %>
</head>

<h4 class="text-primary">LISTA DE CLIENTES</h4>

<div class="container">
  <table class="table" id="clientes">
    <thead class="p-3 mb-2 bg-success text-white">
      <tr>
        <th class="text-warning">ID</th>
        <th class="text-warning">NOME</th>
        <th class="text-warning">DATA ANIVERSARIO</th>
        <th class="text-warning">EMAIL</th>
        <th class="text-warning">CPF</th>
      </tr>
    </thead>
    <tbody>
      <%for (cliente of clientes){%>
      <tr>
        <td><%= cliente.idCliente %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.dataNiver %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.cpf %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<footer class="footer">
  <a class="btn btn-primary" role="button" href="menu">Voltar ao menu</a>
</footer>
