<%- contentFor('body') %>
<script>
  function criaPedido(idProduto) {
    const quantidade = parseInt(
      document.getElementById(`quantidade_${idProduto}`).value
    );
    const url = "http://localhost:3000/pedidos";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        window.location.href = "http://localhost:3000/pedidos"; //redirect
      }
    };
    xhr.send(`idProduto=${idProduto}&qde=${quantidade}`);
  }
</script>
<head>
  <title>Lista de Produtos</title>
  <%- include('../views/parciais/head'); %>
</head>

<h4 class="text-primary">Vitrine de Produtos</h4>

<div class="perfumes">
  <%for (produto of produtos){%>
  <div class="div">
    <img src="<%= produto.img %>" alt="Perfume" />
    <div>
      <p>Código: <%= produto.idProduto %></p>
      <p style="width: 50vh"><%= produto.descricao %></p>
      <p><%= produto.preco %></p>
      <input
        class="btn btn-primary"
        type="number"
        id="quantidade_<%= produto.idProduto %>"
        value="1"
        min="1"
        style="width: 100px"
      />
    </div>
    <button
      type="button"
      class="btn btn-success"
      onclick="criaPedido(<%= produto.idProduto %>)"
    >
      Comprar
    </button>
  </div>
  <% } %>
</div>
<footer class="footer">
  <a class="btn btn-primary" role="button" href="menu">Voltar ao menu</a>
</footer>
