<%- contentFor('body') %>
<head>
  <title>Lista de Produtos</title>
  <%- include('../views/parciais/head'); %>
</head>

<h4 class="text-primary">Vitrine de Produtos</h4>

<div class="container">
  <table class="table" id="clientes">
    <thead class="p-3 mb-2 bg-success text-white">
      <tr>
        <th class="text-warning">Código</th>
        <th class="text-warning">Descrição</th>
        <th class="text-warning">Preço</th>
      </tr>
    </thead>
    <tbody>
      <%for (produto of produtos){%>
      <tr>
        <td><%= produto.idProduto %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.preco %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<div class="perfumes">
  <div class="div">
    <img src="chloenomade.png" alt="Perfume Chloe Nomade"/>
    <div>
      <p>teste</p>
    </div>
    <button type="button" class="btn btn-success" onclick="">Comprar</button>
  </div>
  <div class="div">
    <img src="diorjoy.png" alt="Perfume Dior Joy" />
    <button type="button" class="btn btn-success">Comprar</button>
  </div>
  <div class="div">
    <img src="diormiss.png" alt="Perfume Dior Miss" />
    <button type="button" class="btn btn-success">Comprar</button>
  </div>
  <div class="div">
    <img src="carolinah.png" alt="Perfume Carolina Herrera" />
    <button type="button" class="btn btn-success">Comprar</button>
  </div>
  <div class="div">
    <img src="beneton.png" alt="Perfume Beneton Masculino" />
    <button type="button" class="btn btn-success">Comprar</button>
  </div>
  <div class="div">
    <img
      src="antoniobdiavolo.png"
      alt="Perfume Antonio Banderas Diavolo Masculino"
    />
    <button type="button" class="btn btn-success">Comprar</button>
  </div>
</div>
<footer class="footer">
  <a class="btn btn-primary" role="button" href="menu">Voltar ao menu</a>
</footer>
