<%- contentFor('body') %>
<div class="container">
  <br />
  <h1 class="text-primary">Lista de Produtos</h1>
  <br />
  <table class="table" id="clientes">
    <thead class="p-3 mb-2 bg-success text-white">
      <tr>
        <th class="text-warning">ID</th>
        <th class="text-warning">DESCRIÇÃO</th>
        <th class="text-warning">PREÇO</th>
        <th class="text-warning">QUANTIDADE</th>
      </tr>
    </thead>
    <tbody>
      <%for (produto of produtos){%>
      <tr>
        <td><%= produto.idProduto %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.quantidade %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
